<h1 id="form-page-heading">Gallery - Medium Size</h1>
<div id="main-content">
  <div id="main-content-shadow"></div>
  <section class="main-gallery">
    {{#each posts}} 
    {{#if this}}
    <div class="main-gallery-item medium">
      <span class="zoomed-image" style="background-image:url({{{imageUrl}}})" link="{{{imageUrl}}}" name="{{title}}">&nbsp;</span>
      <span class="main-gallery-item-border"></span>
      <div class="slide-icons">
        <a class="slide-zoom">Zoom In</a>
        <a href="#/posts/read/{{_id}}" class="slide-link">Open Link</a>
      </div>
    </div>
    {{/if}} 
    {{/each}}
  </section>
</div>