/* fonts import */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

/* general settings and normalize */

html,
body,
h1,
h2,
h3,
h4,
a,
p,
div,
span,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
    background: #11161c url("../images/back.png") no-repeat center top;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 13px;
}

header {
    background: url("../images/back.png") no-repeat center top;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4 {
    font-weight: 300;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}


/* navigation menu */

#navi-container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 60px;
}

#navi-logo {
    padding: 65px 15px 35px;
}

#navi-bar {
    background: url("../images/nav_back.png") repeat-x;
    border-radius: 8px;
    border-top: 1px solid #666666;
    color: white;
    height: 49px;
    text-shadow: 1px 1px 1px #000000;
    z-index: 10;
}

#menu-main {
    display: inline-block;
}

#menu-main li {
    cursor: pointer;
    line-height: 49px;
    list-style-type: none;
    float: left;
    padding-left: 20px;
}

#menu-main li:hover {
    color: #808080;
}

#menu-main li.selected {
    color: #808080;
    font-style: italic;
    font-family: serif;
}

#menu-social {
    float: right;
    margin: 18px 30px 0 0;
}

.hamburger,
.cross {
    display: none;
}

@media(max-width: 720px) {
    #navi-container {
        width: 100%;
    }
    #navi-logo {
        padding: 15px 15px 15px;
    }
    #navi-bar {
        border-radius: 0;
        height: 100%;
        background-size: cover;
        z-index: 100;
    }
    #menu-main {
        width: 100%;
    }
    #menu-main li {
        display: block;
        border-bottom: 1px solid #666666;
        width: 100%;
    }
    #menu-main li:last-of-type {
        border: 0;
    }
    #menu-social {
        position: absolute;
        top: 8px;
        right: 55px;
    }
    #menu-social img {
        width: 25px;
        height: 25px;
    }
    .hamburger {
        display: block;
        background: none;
        position: absolute;
        top: 10px;
        right: 10px;
        line-height: 45px;
        padding: 5px 15px 0px 15px;
        color: #999;
        border: 0;
        font-size: 1.8em;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        z-index: 1000;
    }
    .cross {
        display: block;
        background: none;
        position: absolute;
        top: 8px;
        right: 12px;
        padding: 7px 15px 0 15px;
        color: #999;
        border: 0;
        font-size: 4em;
        line-height: 65px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        z-index: 1000;
    }
}

@media(max-width: 384px) {
    #menu-social {
        position: initial;
        float: left;
        margin-left: 15px;
    }
}


/* slider section */

#slide-container {
    display: block;
    position: relative;
    height: 400px;
    overflow: hidden;
}

#slide-main {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}

.slide-frame {
    display: block;
    width: auto;
    padding: 5px;
    top: 80px;
    opacity: 0.5;
    z-index: 2;
    position: absolute;
}

.slide-frame img {
    display: inline-block;
    width: 250px;
    height: 180px;
    overflow-y: wrap;
}

.slide-frame.frame-0 {
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    max-height: 340px;
    top: 0;
    opacity: 1;
    z-index: 3;
}

.slide-frame.frame-0 img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    box-shadow: 0 0 8px #000000;
}

.slide-bottom,
.slide-icons {
    display: none;
}

.slide-frame.frame-0 .slide-bottom {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
    display: inline-block;
    position: relative;
    width: 498px;
    line-height: 55px;
    left: 1px;
    top: -60px;
}

.slide-frame.frame-0 .slide-bottom h2 {
    padding-left: 20px;
    color: white;
}

.slide-frame.frame-0 .slide-icons {
    opacity: 0;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 340px;
    top: -398px;
    z-index: 15;
    background: rgba(255, 255, 255, 0);
    -webkit-transition: background .4s ease-out;
    -moz-transition: background .4s ease-out;
    -o-transition: background .4s ease-out;
    transition: background .4s ease-out;
    transition: opacity .4s ease-out;
}

.slide-frame.frame-0 .slide-icons:hover {
    opacity: 1;
    background: rgba(225, 225, 225, 0.4)
}

.slide-frame.frame-0 .slide-icons a {
    cursor: pointer;
    height: 40px;
    top: 150px;
    color: rgba(0, 0, 0, 0);
    z-index: 1000;
}

.slide-frame.frame-0 .slide-icons .slide-left-arrow {
    background: url("../images/slider-left.png") no-repeat top;
    /* left: 8%; */
    order: 1;
    flex-grow: 1;
}

.slide-frame.frame-0 .slide-icons .slide-zoom {
    background: url("../images/slider-zoom.png") no-repeat top right;
    /* left: 35%; */
    order: 2;
    flex-grow: 1;
}

.slide-frame.frame-0 .slide-icons .slide-link {
    background: url("../images/slider-link.png") no-repeat top left;
    /* left: 50%; */
    order: 3;
    flex-grow: 1;
}

.slide-frame.frame-0 .slide-icons .slide-right-arrow {
    background: url("../images/slider-right.png") no-repeat top;
    /* left: 85%; */
    order: 4;
    flex-grow: 1;
}

.frame-4 {
    left: -460px;
}

.frame-5 {
    left: -195px;
}

.frame-6 {
    left: 70px;
}

.frame-0 {
    left: 0;
}

.frame-1 {
    left: 620px;
}

.frame-2 {
    left: 885px;
}

.frame-3 {
    left: 1150px;
}

@media(max-width: 720px) {
    #slide-main {
        width: 100%;
        max-width: 500px;
    }
    .slide-frame {
        display: none;
    }
    .slide-frame.frame-0 {
        display: inline-block;
        left: 0;
        padding: 0;
        margin: 0 auto;
        max-width: 500px;
        height: auto;
        width: 100%;
    }
    .slide-frame.frame-0 .slide-bottom {
        width: 100%;
        overflow: hidden;
    }
    .slide-frame.frame-0 .slide-icons {
        width: 100%;
        top: -402px;
    }
    .slide-frame.frame-0 .slide-icons .slide-zoom {
        display: none;
    }
    .slide-frame.frame-0 .slide-icons .slide-link {
        background-position-x: center;
    }
}


/* main part */

#main-content {
    background: url("../images/main_back.png");
    border-top: 1px solid #ffffff;
    padding-bottom: 40px;
}

#main-content-shadow {
    background: url("../images/main_top_shadow.png") repeat-x top left;
    position: relative;
    width: 100%;
    height: 15px;
    margin-bottom: -15px;
}

#main-about {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    padding: 70px 8% 30px;
}

.main-present {
    width: 32%;
}

#main-about img {
    float: left;
}

.main-about-content {
    padding: 0 20px 0 50px;
}

.main-about-content h3 {
    text-shadow: 1px 1px 1px #ffffff;
    margin-bottom: 15px;
}

.main-about-content p {
    color: #808080;
    text-shadow: 1px 1px 1px #ffffff;
}

.main-about-content p a {
    font-weight: bold;
    color: #333;
}

@media(max-width: 920px) {
    #main-about {
        flex-direction: column;
    }
    .main-present {
        width: 100%;
        margin-bottom: 20px;
    }
}


/* main part - quote */

#main-quote {
    background: #ffffff;
    padding: 0 40px;
    margin-bottom: 40px;
    box-shadow: 0 0 5px #999;
}

#icon-quote {
    background: url("../images/icon_quote.png") no-repeat top;
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 40px;
    top: -14px;
    z-index: 20;
}

#main-quote h1 {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.aditional-info {
    background: url("../images/button_back.png");
    border: 1px outset black;
    border-radius: 8px;
    display: block;
    color: #f1f1f1;
    position: relative;
    top: 24px;
    width: 170px;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 auto;
    line-height: 45px;
    text-align: center;
    z-index: 20;
    box-shadow: 0 3px 3px #999;
}


/* gallery part */

.main-gallery {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.main-gallery-item {
    display: block;
    height: 100px;
    width: 150px;
    margin: 15px;
    border: 5px solid white;
    box-shadow: 0 0 1px 1px #ccc;
}

.main-gallery-item img {
    height: inherit;
    width: 150px;
    overflow: hidden;
    align-content: center;
}

.main-gallery-item-border {
    position: relative;
    top: -104px;
    display: block;
    height: 100px;
    width: 150px;
    box-shadow: inset 5px 5px 10px #444;
    z-index: 15;
}

.main-gallery .slide-icons {
    opacity: 0;
    position: relative;
    top: -204px;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: opacity .4s ease-out;
    transition: background .2s ease-out;
}

.main-gallery .slide-icons a {
    cursor: pointer;
    height: 40px;
    width: 40px;
    color: rgba(0, 0, 0, 0);
}

.main-gallery .slide-icons:hover {
    background: rgba(225, 225, 225, 0.4);
    opacity: 1;
}

.main-gallery .slide-icons .slide-zoom {
    background: url("../images/small-zoom.png") no-repeat top;
}

.main-gallery .slide-icons .slide-link {
    background: url("../images/small-link.png") no-repeat top;
}


/* footer */

footer {
    background: url("../images/back.png") no-repeat center top;
}

#foot-top {
    display: flex;
    padding: 40px 0;
    max-width: 960px;
    margin: 0 auto;
}

#foot-mission {
    padding: 20px;
}

#foot-top h4 {
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    margin-bottom: 15px;
}

#foot-top p {
    color: #808080;
}

@media(max-width: 920px) {
    #foot-top {
        flex-direction: column;
    }
}

#foot-bottom {
    background: #0f1419;
    height: 55px;
}

#foot-bottom p {
    float: right;
    padding-right: 60px;
    line-height: 55px;
    color: #808080;
}

#foot-bottom strong {
    font-weight: 300;
    color: white;
}


/* open image */

.image-view {
    width: 20%;
    margin: 0 auto;
    padding-bottom: 60px;
    z-index: 4;
}

.image-view img {
    box-shadow: 0 0 10px #000000;
}

.image-view h4 {
    color: #ffffff;
    float: left;
}

.image-view p {
    color: #808080;
    float: right;
}


/* forms */

#form-page-heading {
    color: white;
    font-weight: 300;
    max-width: 960px;
    margin: 15px auto;
}

#form-field,
#form-route-line {
    max-width: 960px;
    margin: 30px auto;
}

#form-route-line a:hover {
    font-weight: bold;
}

@media(max-width: 960px) {
    #form-page-heading,
    #form-field,
    #form-route-line {
        margin-left: 30px;
        margin-right: 30px;
    }
}