<h1 id="form-page-heading">{{user}}'s personal profile</h1>
<div id="main-content">
  <div id="main-content-shadow"></div>
  <div id="form-route-line">
    <a href="#/">Home </a><span> / {{lowercase user}} </span>
  </div>
  <section id="form-field">
      <h2>Edit profile: TODO</h2>
  </section>
</div>