<h1 id="form-page-heading">Contact Me</h1>
<div id="main-content">
  <div id="main-content-shadow"></div>
  <div id="form-route-line">
    <a href="#/">Home </a><span> / Contacts</span>
  </div>
  <section id="main-about" class="posts-content">
    <aside>
      <h3>Resent Posts</h3>
      <div class="aside-posts-container">
        <ul>
          {{#listItem 0 5 posts}} {{#if this}}
          <li>&#8226; &nbsp; <a href="/#/posts/read/{{_id}}">{{partial title 19}}</a> &nbsp; <i>{{dateXS created}}</i></li>
          {{/if}} {{/listItem}}
        </ul>
      </div>
    </aside>
    <div class="story-single-small">
      <h1>Telerik Academy</h1><br>
      <div class="main-gallery-item single-image">
        <div class="main-gallery-item-shadow"></div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d823.4645607010144!2d23.378962183822384!3d42.65088494088225!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9dcf2a89d173b821!2sTelerik+Academy!5e0!3m2!1sbg!2sbg!4v1507382747679" width="520" height="340" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="contacts-content">
        <h1><a href="/#/">Tennis Vissioned</a> - <a href="https://telerikacademy.com/Courses/Courses/Details/443">Web front end course</a> final project.</h1>
        <p>author: <a href="https://telerikacademy.com/Users/ZachD">Zahari Dimitrov</a></p>
        <p>github profile: <a href="https://github.com/zachdimitrov">zachdimitrov</a></p>
        <p>project page: <a href="https://github.com/zachdimitrov/wfe-final-project">Tennis Vissions</a></p>
        <p>project info: <a href="https://github.com/zachdimitrov/wfe-final-project/readme.md">Read more here</a></p>
      </div>
    </div>
    <div class="hr"></div>
  </section>
  {{#if user.length}}
  <section id="comments-all">
    <h1>Send me a message</h1>
    <section id="form-field">
      <div class="pure-form pure-form-aligned">
        <fieldset>
          <div class="pure-control-group">
            <label for="tb-message-name">Name:</label>
            <input class="pure-input-1-2" type="text" value="{{user}}" id="tb-message-name" />
          </div>
          <div class="pure-control-group">
            <label for="tb-message-content">Content:</label>
            <textarea class="pure-input-1-2" placeholder="message content" id="tb-message-content"></textarea>
          </div>
          <br>
          <button class="pure-button pure-button-primary" id="btn-send-message-send">Send message</button>
        </fieldset>
      </div>
    </section>
  </section>
  {{/if}}
</div>

<style>
  .contacts-content {
    padding-top: 60px;
    color: #808080;
    font-size: 1.4em;
    text-shadow: 1px 1px 1px #ffffff;
    line-height: 2em;
  }

  .contacts-content a {
    color: black;
  }

  .contacts-content a:hover {
    text-decoration: underline;
  }

</style>