<h1 id="form-page-heading">User login</h1>
<div id="main-content">
    <div id="main-content-shadow"></div>
    <div id="form-route-line">
        <a href="#/">Home </a><span> / Login</span>
    </div>
    <section id="form-field">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="tb-reg-username">Username:</label>
                    <input type="text" class="form-control" id="tb-reg-username" />
                </div>
                <div class="form-group">
                    <label for="tb-reg-pass">Password:</label>
                    <input type="password" class="form-control" id="tb-reg-pass" />
                </div>
                <button class="btn btn-default" id="btn-login">Sign up</button>
            </div>
        </div>
    </section>
</div>