<h1 id="form-page-heading">Create new post</h1>
<div id="main-content">
    <div id="main-content-shadow"></div>
    <div id="form-route-line">
        <a href="#/">Home </a><a href="#/posts"> / Posts</a><span> / Create</span>
    </div>
    <section id="form-field">
        <div class="pure-form pure-form-aligned">
            <fieldset>
                <h2>Category</h2>
                <div class="pure-control-group">
                    <label for="tb-post-category">Select:</label>
                    <select id="tb-post-category">
                        <option>Players</option>
                        <option>Stories</option>
                    </select>
                </div>
                <h2>Text content</h2>
                <div class="pure-control-group">
                    <label for="tb-post-title">Title:</label>
                    <input class="pure-input-1-2" type="text" placeholder="post title" id="tb-post-title" />
                </div>
                <div class="pure-control-group">
                    <label for="tb-post-content">Content:</label>
                    <textarea class="pure-input-2-3" type="password" placeholder="post content" id="tb-post-content"></textarea>
                </div>
                <br>
                <h2>Images</h2>
                <div class="pure-control-group">
                    <div>
                        <label for="choice-url">Provide image url:</label>
                        <input type="radio" name="image-choise" id="choice-url">
                        <div class="reveal-if-active">
                            <label for="tb-post-imageurl">Image url address:</label>
                            <input class="pure-input-2-3" type="text" placeholder="http://..." id="tb-post-imageurl" />
                        </div>
                    </div>
                    <br>
                    <div>
                        <label for="choice-upload">Upload image:</label>
                        <input type="radio" name="image-choise" id="choice-upload">
                        <div class="reveal-if-active">
                            <label for="tb-post-imagefile">Image file:</label>
                            <input type="file" id="tb-post-imagefile" />
                        </div>
                    </div>
                </div>
                <br>
                <button class="pure-button pure-button-primary" id="btn-send-post-add">Create post</button>
            </fieldset>
        </div>
    </section>
</div>