<h1 id="page-heading">Register new member</h1>
<div id="main-content">
    <div id="main-content-shadow"></div>
    <div id="route-line">
        <a href="#/">Home </a><span> / Sign up</span>
    </div>
    <section id="form-field">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="tb-reg-username">Username:</label>
                    <input type="text" class="form-control" id="tb-reg-username" />
                </div>
                <div class="form-group">
                    <label for="tb-reg-pass">Password:</label>
                    <input type="password" class="form-control" id="tb-reg-pass" />
                </div>
                <div class="form-group">
                    <label for="tb-reg-mail">E-mail address:</label>
                    <input type="email" class="form-control" id="tb-reg-mail" />
                </div>
                <button class="btn btn-default" id="btn-register">Sign up</button>
            </div>
        </div>
    </section>
</div>